<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Request</title>

    <style>
        .username {
            font-size: 18px;
            margin-bottom: 5px;
        }
        .message {
            font-size: 16px;
            margin-bottom: 5px;
        }
        .message-heading {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .info {
            font-size: 14px;
            margin-bottom: 5px;
        }
        .from-reg {
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 2px;
        }
        .from {
            font-size: 16px;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>    
    <div class="username">Dear {{ fullName }},</div>
    <div class="message">We received a request to reset your password for your account at dailyFinance. To complete this process, please follow the instructions below.</div>
    
    <div class="message-heading">Password Reset Link: <a href="{{ verificationLink }}" style="font-weight: normal;">Reset Link</a></div>    
    
    <div class="message-heading">Please Note:</div>
    <ul>
        <li class="info">This password reset link is valid for a limited time, so make sure to use it promptly.</li>
        <li class="info">If you did not request this password reset, please contact us immediately at shadow.works.1998@gmail.com. It may indicate a potential security concern.</li>
    </ul>
    
    <div class="message-heading">Steps to Reset Your Password:</div>
    <ol>
        <li class="info">Click on the provided "Password Reset Link" above.”</li>
        <li class="info">You will be directed to a secure page where you can create a new password.</li>
        <li class="info">Choose a strong and unique password that you can remember, and enter it in the designated fields.</li>
        <li class="info">Confirm your new password by re-entering it.</li>
        <li class="info">Save your changes.</li>
    </ol>
    
    <div class="message">After completing these steps, your password will be successfully reset, and you can use it to log in to your account.</div>
    <div class="message">If you encounter any issues or need further assistance, please do not hesitate to reach out at shadow.works.1998@gmail.com. We are here to help.</div>
    <div class="message">Thank you for choosing dailyFinance. Your security and privacy are of utmost importance to us, and we're committed to ensuring a safe and smooth experience.</div>
    
    <div class="from-reg">Best regards,</div>
    <div class="from">Team dailyFinance</div>
</body>
</html>